@using AltWebsite.Models;
@model IEnumerable<TouristInfo>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.TouristInfo.FirstName</h4>
        <div>@item.TouristInfo.Country</div>
    </div>
}